*{
    margin-left: 10px;
    margin-top: 10px;
}

body{
    color: #837E9F;
    background-color: #000000;
}


.box1{
    
    text-align: center;
    background: #302F3D;
    color: #837E9F;
    width: 348px;
    height: 292px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.20);
    border-radius: 20px;
    gap: 15px;
}

.box1 img{
    width: 128px;
    height: 128px;
    border-radius: 128px;
    border: 2px solid #0F0;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}






.social-links{
    width: 348px;
    height: 248px;
    border-radius: 20px;
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.20);
}

.social-links a{
    color: #837E9F;
}

.box3{
    width: 348px;
    height: 198px;
    border-radius: 20px;
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.20);
}

.box3 button{
    color: #000;
    text-align: center;
    border-radius: 30px;
    background: #CB92B1;
}

.box4{
    width: 348px;
    height: 149px;
    border-radius: 20px;
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.20);
}

.box5{
    width: 348px;
    height: 149px;
    border-radius: 20px;
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.20);
}

.project{
    display: flex;
    justify-content: space-between;
    line-height: 2;
    width: 898px;
    height: 81px;
    border-radius: 20px;
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.20);
    position:absolute;
    right: -50px;
    left: 380px;
    top: 10px;   
}

.project a{
    color: #837E9F;
    right: 851px;
    left: 851px;
    margin: auto 30px;
}

.project h3{
    margin: auto 30px;
}

.boxfutury{
    width: 461px;
    height: 186px;
    border-radius: 20px;
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.20);
    position:absolute;
    right: -50px;
    left: 380px;
    top: 107px;   
   
}


.postrecent{
    display: flex;
    justify-content: space-between;
    line-height: 2;
    width: 898px;
    height: 81px;
    border-radius: 20px;
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.20);
    position:absolute;
    right: -50px;
    left: 380px;
    top: 310px;   
}

.post{
    display: block;
    justify-content: space-between;
    width: 898px;
    height: 201px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.20);
    position:absolute;
    right: -50px;
    left: 380px;
    top: 410px;   
}

.posth2 h2{
    margin: 0;
    width: 312px;
    height: 31px;
    color: #837E9F;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    text-align: center;
    padding-top: 30px;
}

.post p{
    color: #837E9F;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    margin: 0;
    padding-left: 10px;
    padding-top: 18px;
}

.post img{
    width: 128px;
    height: 128px;
    flex-shrink: 0;
    border-radius: 128px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}