*{
    padding: 0;
    margin: 0;
}

body{
    margin: 2.5rem;
    background: #22212C;
}

.information{
    display: flex;
    flex-direction: column;
    gap: 30px;
}



.box{
    width: 21.75rem;
    border-radius: 1.25rem;
    padding-top: 2rem;
    padding-bottom: 3.0625rem;

    color: #837E9F;  
    background: #302F3D;

    display: flex;
    flex-direction: column;  

    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}