*{
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 16px; 
    margin: 2.5rem;
    background: #22212C;
    padding: 0;
    box-sizing: border-box;
    width: 100%; 
}


.information{
    display: flex;
    flex-direction: column;
    gap: 30px;
}



.box{
    width: 21.75rem;
    border-radius: 1.25rem;
    padding-top: 2rem;
    padding-bottom: 3.0625rem;

    color: #837E9F;  
    background: #302F3D;

    display: flex;
    flex-direction: column;  

    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

 button{
        background: none;
        border: none;
        font-size: 10px;
        font-weight: bold;
    
        text-transform: uppercase;
        font-size: 10px;
        width: 5.375rem;
        height: 1.5rem;
    
        border-radius: 1.875rem;
        background-color: #CB92B1;
    }